@import 'primeicons/primeicons.css';
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  margin: 8px;
  font-family:
    'Helvetica Neue',
    sans-serif;

}

a {
  text-decoration: none;
}



g.selected>* {
  stroke: rgb(0, 247, 255) !important;
  stroke-width: 6 !important;
}