@import 'primeicons/primeicons.css';
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  margin: 8px;
  font-family:
    'Helvetica Neue',
    sans-serif;

}

a {
  text-decoration: none;
}

.p-tooltip {
  max-width: 400px !important;
}

.p-tooltip-text {
  overflow-wrap: anywhere !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 10 !important;
  line-clamp: 10 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}